body {
  margin: 0;
  background: #111;
  color: white;
  font-family: sans-serif;
  text-align: center;
}


.victory-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px 20px;
}

/* Ligne des images */
.victory-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 40px 0;
}

.victory-img {
  width: 120px;
  height: auto;
  object-fit: contain;
}

.heart {
  width: 80px; /* le cœur peut être un peu plus petit */
}

